@import '/src/styles/variables.scss';

.formsTopicsSection {
    background-color: $light-gray-blue;
    padding: 90px 0;
    position: relative;
    overflow: visible;
}

.backgroundPlay {
    
    background-color: #F2F6FA;
    position: absolute;
    top: -44px;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: skewY(-2deg);
}

.singleFormBox {
    position: relative;

    h1 {
        font: $internal-title-24;
        line-height: 32px;
        margin-bottom: 8px;
    }

    p {
        font: $main-text-18;
    }
}

.formsTopics {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    >div {
        width: 33%;
        display: flex;
        align-items: center;
        gap: 26px;

        &.flexStart {
            justify-content: flex-start;

            &:after {
                content: "";
                position: absolute;
                bottom: -40%;
                right: 6%;
                height: 200%;
                border-right: 1px solid $light-gray;
                z-index: 1;
            }
        }

        &.flexEnd {
            justify-content: flex-end;
        }

        &.center {
            justify-content: center;

            &:after {
                content: "";
                position: absolute;
                bottom: -40%;
                right: -4%;
                height: 200%;
                border-right: 1px solid $light-gray;
                z-index: 1;
            }
        }

        div {
            max-width: 55%;
        }
    }
}

@media (max-width: 992px) {
    .formsTopics {
        flex-wrap: wrap;
        gap: 30px;

        >div {
            width: 45%;
            justify-content: center !important;

            &:after {
                content: unset !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .formsTopicsSection, .backgroundPlay {
        background-color: transparent;
    }
    .formsTopics {
        flex-wrap: wrap;
        gap: 60px;

        >div {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {

    .formsTopicsSection {
        padding: 40px 0;
        position: relative;
        overflow: visible;
        margin-bottom: 40px;

        &::after {
            content: "";
            background: #F2F6FA;
            position: absolute;
            bottom: 0;
            left: 10%;
            height: 2px;
            width: 80%;
        }
    }
    .formsTopics {
        >div {
            div {
                max-width: 60%;
            }
        }
    }
}