@import '../../node_modules/swiper/swiper.scss';
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 1px solid var(--banner-title);
  background: transparent;
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: $branding-secondary;
}

::-webkit-scrollbar-thumb {
  background: $branding-primary;
  border-radius: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  width: 100vw;
}

body,
input,
textarea {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 400;
  color: $title-text-color;
}

p,
span {
  font-weight: 200;
  color: $text-color;
}

button,
a {
  cursor: pointer;
  font-weight: normal;
  color: white;
  text-decoration: unset;
  border: unset;
}

button:hover,
a:hover {
  color: white;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.apearDesktop {
    display: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {

  .apearMobile {
      display: none;
  }

  .apearDesktop {
      display: block;
  }

  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

// carousel styles

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}