// color variables

$branding-primary: #1862B2;
$branding-secondary: #707070;
$branding-tertiary: #C0C0C0;
$branding-quartiary: #ECECEC;
$branding-quinary: #F2F7FF;

$light-gray-blue: #F2F6FA;

// font styles

$banner-title: bold 56px 'Poppins', sans-serif;
$banner-text: 16px 'Inter', sans-serif;
$button-text: 400 18px 'Inter', sans-serif;
$approved-text: 500 16px 'Inter', sans-serif;