@import '/src/styles/variables.scss';

.insideTopicsMainBox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 102px 0;

    >div {
        width: 45%;
        gap: 20px;

        h2 {
            font: $internal-title-36-bold;
            margin-bottom: 24px;
        }

        p {
            font: $main-text-18;
            margin-bottom: 24px;
        }

        li {
            margin-left: 17px;
        }

        a {
            width: 100%;
        }

        .grayBox {
            background-color: $light-gray-blue;
            width: 100%;
            padding: 19px 24px;
            border-radius: 4px;
            margin-bottom: 24px;

            p {
                margin: 0;
                text-align: center;
                color: $light-text-color;
            }
        }
    }

    .imageContainer {
        position: relative;
        height: 100%;
        width: 50%;

        img {
            object-fit: contain;
            width: 100%;
            height: auto;
            border-radius: 32px;
        }
    }
}

.invertImagePosition {
    flex-direction: row-reverse;
}

@media (max-width: 992px) {
    .insideTopicsMainBox {
        .textBoxContainer {
            width: 52%;
        }
    }
}

@media (max-width: 768px) {
    .insideTopicsMainBox {
        flex-direction: column;
        padding: 20px;

        >div {
            h2 {
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 14px;
                font-size: 18px;
            }
        }
        
        .imageContainer {
            margin-bottom: 24px;
        }

        >div, .textBoxContainer{
            width: 100%;

            >div {
                margin-bottom: 32px;
            }
        }
    }
}

@media (max-width: 351px) {
    .insideTopicsMainBox {
        >div {
            h2 {
                font-size: 26px;
            }
        }
    }
}