@import '/src/styles/variables.scss';

.sliderButtons {
    width: auto;
    height: auto;
    position: absolute;
    top: -12%;
    right: 0;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        background-color: transparent;
    }
}

.sliderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    h2 {
        font: $internal-title-40-bold;
        max-width: 70%;
        text-align: center;
    }

    .subText {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 104px;
        h3 {
            color: $branding-primary;
            font: $internal-title-24-lh45;
        }
    }

    :global(.swiper) {
        overflow: unset;
    }

    :global(.swiper-wrapper) {
        width: calc(100% + 60px);
    }

    :global(.swiper-slide)  { 
        width: calc(15%) !important;
        height: 503px;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }

    :global(.swiper-slide-active)  { 
        width: calc(40%) !important;
        height: 503px;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    
    }

    .nextOrPrevSlider {
        height: 503px !important;

        img {
            object-fit: cover;
            border-radius: 24px;
        }
    }
}

.imageGalerySliderSection {
    background-color: $light-gray-red;
    padding: 48px 0;
}

@media (max-width: 1200px) {
    .sliderContainer {
        :global(.swiper-wrapper) {
            width: calc(100% + 15px);
        }
    }
}

@media (max-width: 992px) {
    .sliderContainer {
        :global(.swiper-wrapper) {
            width: calc(100% - 23px);
        }
    }

    .sliderContainer {
        h2 {
            font-size: 24px;
            line-height: 30px;
        }

        h3 {
            font-size: 18px !important;
            line-height: 30px !important;
        }
    }
    
}

@media (max-width: 768px) {
    .sliderContainer {
        .subText {
            flex-direction: column;
            gap: 0px;
        }

        h2 {
            max-width: 100%;
            font-size: 30px;
            line-height: 35px;
        }

        h3 {
            line-height: 19px;
        }

        :global(.swiper-slide)  { 
            width: 500px !important;
        }
    }
    .sliderButtons {
        top: -10%;
        gap: 20px;
    }
    
}

@media (max-width: 576px) {
    .sliderContainer {
        h2 {
            font: $internal-title-20-bold;
        }

        h3 {
            font: $internal-title-14;
        }

        :global(.swiper-wrapper) {
            width: 100%;
            height: auto;
        }

        :global(.swiper-slide)  { 
            width: 100% !important;
            height: auto;
        }
    }
   
}